App_WebReferences/ApplicationWebSerrvice/IS_Applications.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Insert_Application">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Organization" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Race" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvestigatorLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FieldOfExpertise" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAAffiliation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VADetails" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes_PersonalStatement_File" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="PersonalStatement_ContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PersonalStatement_Filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes_LettersOfRec_File" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="LettersOfRec_ContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LettersOfRec_Filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes_Curriculum_File" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Curriculum_ContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Curriculum_Filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes_ConceptPaper_File" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="ConceptPaper_ContentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConceptPaper_Filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_ApplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Insert_ApplicationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Insert_ApplicationSoapIn">
    <wsdl:part name="parameters" element="tns:Insert_Application" />
  </wsdl:message>
  <wsdl:message name="Insert_ApplicationSoapOut">
    <wsdl:part name="parameters" element="tns:Insert_ApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="IS_ApplicationsSoap">
    <wsdl:operation name="Insert_Application">
      <wsdl:input message="tns:Insert_ApplicationSoapIn" />
      <wsdl:output message="tns:Insert_ApplicationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IS_ApplicationsSoap" type="tns:IS_ApplicationsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_Application">
      <soap:operation soapAction="http://tempuri.org/Insert_Application" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IS_ApplicationsSoap12" type="tns:IS_ApplicationsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_Application">
      <soap12:operation soapAction="http://tempuri.org/Insert_Application" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IS_Applications">
    <wsdl:port name="IS_ApplicationsSoap" binding="tns:IS_ApplicationsSoap">
      <soap:address location="https://cyberseminar-stage.icfwebservices.com/application_WS/IS_Applications.asmx" />
    </wsdl:port>
    <wsdl:port name="IS_ApplicationsSoap12" binding="tns:IS_ApplicationsSoap12">
      <soap12:address location="https://cyberseminar-stage.icfwebservices.com/application_WS/IS_Applications.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>